@font-face {
    font-family: 'minecraft';
    src: url('../assets/fonts/minecraft-webfont.eot');
    src: url('../assets/fonts/minecraft-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/minecraft-webfont.woff2') format('woff2'),
         url('../assets/fonts/minecraft-webfont.woff') format('woff'),
         url('../assets/fonts/minecraft-webfont.ttf') format('truetype'),
         url('../assets/fonts/minecraft-webfont.svg#minecraftmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

#leader-result{
    z-index: 100;

    width: 400px;

    margin-right: -650px;
    padding-left: 250px;
    padding-bottom: 120px;

}
h1{
	z-index: 101;
	color: white;
	font-size: 40pt;
	margin-left: -100px;
	font-family: "minecraft";
}
ol{
	margin-top: 40px;
	color: white;
}
li{

	font-size: 20pt;
	font-family: "minecraft";

	margin-bottom: 25px;

}
.hidden{
	visibility: hidden;
}

body{
	background-color: black;
	height: 100vh;
	display: flex;
			align-items: center;
				justify-content:center;
}

.console{
	background-image: url('../assets/devinedo.png');
	background-size: cover;
	width: 1502px;
    height: 800px;
    position: absolute;
        display: none;
}

button{
	border-style: none;
}

.onder{
	background-image: url('../assets/onder.png');
	width: 96px;
	height: 116px;
	background-color: transparent;
	position: absolute;
	top: 405px;
    left: 154px;
}

.boven{
	background-image: url('../assets/boven.png');
	width: 96px;
	height: 116px;
	background-color: transparent;
	position: absolute;
	left: 154px;
    top: 194px;
}

.links{
	background-image: url('../assets/links.png');
	width: 84px;
	height: 116px;
	background-color: transparent;
	position: absolute;
	top: 300px;
    left: 60px;
}

.rechts{
	background-image: url('../assets/rechts.png');
	width: 84px;
	height: 116px;
	background-color: transparent;
	position: absolute;
	top: 300px;
    left: 260px;
}

.shoot{
	background-image: url('../assets/shootknop.png');
	width: 308px;
	height: 308px;
	background-color: transparent;
	position: absolute;
	left: 1170px;
    top: 230px;
}

.special{
	background-image: url('../assets/specialknop.png');
	width: 160px;
	height: 160px;
	background-color: transparent;
	position: absolute;
	left: 1310px;
    top: 58px;
}

canvas{

    border: solid white 5px;


}

.inputVeld{
    background-color: black;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    font-family: "minecraft";
    color: white;
    font-size: 0.8em;
    padding: 9px;
    width: 186px;
}
