.olwrapper{
	margin-left: 200px;
}

ol{
	z-index: 100;
	color: white;
	position: absolute;
	height: 700px;
	overflow: hidden;
	/*width: 500px;*/
	
	margin-top: 50px;
}
.second{
	margin-left: 200px;
}
li{
	/*list-style: decimal;*/
	text-align: center;
	font-size: 16pt;
	/*float: left;*/
	margin-bottom: 20px;
	/*display: inline;*/
}
.points{
	margin-top: -20px;
	font-size: 10pt;

}

#double li{
	/*width: 50%;*/
}
.hidden{
	visibility: hidden;
}

body{
	background-color: black;
}

.console{
	background-image: url('../assets/devinedo.png');
	background-size: cover;
	    width: 1502px;
    height: 800px;
}

button{
	border-style: none;
}

.onder{
	background-image: url('../assets/onder.png');
	width: 96px;
	height: 116px;
	background-color: transparent;
		position: absolute;
		    top: 405px;
    left: 154px;
}

.boven{
	background-image: url('../assets/boven.png');
	width: 96px;
	height: 116px;
	background-color: transparent;
		position: absolute;
		    left: 154px;
    top: 194px;
}

.links{
	background-image: url('../assets/links.png');
	width: 84px;
	height: 116px;
	background-color: transparent;
		position: absolute;
		    top: 300px;
    left: 60px;
}

.rechts{
	background-image: url('../assets/rechts.png');
	width: 84px;
	height: 116px;
	background-color: transparent;
		position: absolute;
		top: 300px;
    left: 260px;
}

.shoot{
	background-image: url('../assets/shootknop.png');
	width: 308px;
	height: 308px;
	background-color: transparent;
		position: absolute;
		left: 1170px;
    top: 230px;
}

.special{
		background-image: url('../assets/specialknop.png');
	width: 160px;
	height: 160px;
	background-color: transparent;
		position: absolute;
		left: 1310px;
    top: 58px;
}

canvas{
	margin-left: auto;
	margin-right: auto;
	position: absolute;
    top: 88px;
    left: 359px;

}
